
<div class="container">
        <div class="txtbox" >
                <form>
                        <div class="form-group">
                        <label>Customer Name:</label>&nbsp;
                        <input type="text" name="name" formControlName="name" style="width: 500px;">
                        <br><br>
                        <label>Item Name:</label>&nbsp;
                        <input type="text" name="iName" formControlName="iName">
                        <label style="margin-left: 20px;">Quantity:</label>&nbsp;
                        <input type="number" name="quant" formControlName="quant">
                        <button type="submit" class="btn btn-default" style="background-color: dodgerblue; margin-left: 25px;;">Add</button>
                        </div>
                    </form>   
                    
        </div> 
</div>
